.message {
    width:                 470px;
    height:                35px;
    border:                solid 1px black;
    border-radius:         10px;
    -webkit-border-radius: 10px;
    -moz-border-radius:    10px;
    padding-top:           10px;
    padding-left:          30px;
}
